:root{
    --bg-color: rgb(7, 7, 7);
    --main-head: rgb(56 55 61);
    --work-head: rgb(237, 244, 237);
    --font-family:"san-serif";
    --font-color:rgb(205 36 41);
    
}

*{
    box-sizing:border-box;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    margin: 0;
    display: inline-block;
    flex-direction: column;
    min-height: 100vh;
    justify-content:center;
}

main {
    display: left;
    flex-wrap:wrap;
    
}

.main-header {
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 500px;
}

.headline{
  margin:0;
  padding: 1px;

}

.headline img{
border-radius: 50%;
height:800px;
margin-top: 2%;
}

.headline h1 { 
  margin-bottom: 0%;
    justify-content: right;
    font-size: 140px;
    font-family: "Brush Script MT";
    color: var(--main-head);
  
}

.headline ul{
    font-family: var(--font-family);
    list-style-type: none;
    
}

.headline ul li {
  text-align: center;
  padding:25px;
    font-size: 50px;
    color:var(--main-head);
    text-decoration: none;
    
}

a {
    color: var(--work-head);
    
}

a:hover{
  text-shadow: 2px 2px 1px var(--font-color);

}

.about{
    text-align: center;
    color: var(--work-head);
    margin-bottom:500px;
    padding: 200px;
  
}

.about h2{
color: var(--main-head);
font-size: 50px;
text-align: center;

}

.about ul{
  font-family: var(--font-family);
  list-style-type: none;
  padding:250 px;

}

.about ul li{
  display: inline-flex;
  padding: 20px;
}

.contact-links{
    border-style:groove;
    border-width: 10px;
    border-color: var(--main-head);
    width:100%;

}

.contact-links h2{
    text-align: center;
  }


  .contact-links img {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
  }

  .contact-links li{
    list-style: none;
    margin: 5px;
  }

  .contact-links ul{
    display:flex;
    justify-content: center;
    

  }

.work{
    text-align: center;
  }

.project-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

}

.projects {
    width: 45%;
    margin:5px;
    padding: 10px;
    border-style: dashed;
    border-width: 5px;
    border-color: var(--main-head);
  }
  
  .projects header {
    text-align: center;
    padding: 20px;
    background:var(--work-head);
    color: var(--font-color);

  }
  
  .projects img {
    display:inline-flex
    margin-top: 2%;
    height: 60%;
    width: 100%;

  }



  
