:root{
    --bg-color: rgb(7, 7, 7);
    --main-head: rgb(56 55 61);
    --work-head: rgb(237, 244, 237);
    --font-family:"san-serif";
    --font-color:rgb(205 36 41);
    
}

*{
    box-sizing:border-box;
}

body {
 
  background-color: var(--bg-color);
    font-family: var(--font-family);
}



.main-header {
  display: flex;
  flex-wrap:wrap;
  margin: 0 50px 300px 50px;
}


.banner{
  display:flex;
}

.banner img{
border-radius: 50%;
width:50%;


}

.banner h1{ 
  text-align: center;
    font-size: 120px;
    width: 100%;
    font-family: "Brush Script MT";
    color: var(--main-head);
  
}

.headline ul{
    font-family: var(--font-family);
    list-style-type: none;
    
}

.headline ul li {
  text-align: center;
  padding:5px;
    font-size: 40px;
    color:var(--main-head);
    text-decoration: none;
    
}



a {
    color: var(--work-head);
    
}

a:hover{
  text-shadow: 2px 2px 1px var(--font-color);

}

main {
  display:wrap;
    flex-wrap:wrap;
    
}

.about{
    text-align: center;
    color: var(--work-head);
    margin-bottom:300px;
    padding: 150px;
  
}

.about h2{
  color: var(--work-head);
  font-size: 80px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 1px var(--font-color);

}


.about ul{
  font-family: var(--font-family);
  list-style-type: none;
  padding:250 px;

}

.about ul li{
  display: inline-flex;
  padding: 20px;
}

.work{
  text-align: center;
  color: var(--work-head);
  padding-top: 0px;

  }

  .work h2{
    color: var(--work-head);
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 1px var(--font-color);

  }

.project-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

}

.projects {
    width: 33%;
    padding: 0px;
    border-style:groove;
    border-width: 15px;
    border-color: var(--main-head);
  }

  .feature{
    width:100%
  }
  
  .projects header {
    text-align: center;
    padding: 10px;
    background:var(--main-head);
    color: var(--work-head);
    font-size: 40px;

  }
  
  .project-image-container{ 
width: 100%;
height: 300px; 

  }

  .projects img {
    display:inline-flex;
    margin: 2% 0% 5% 0%;
    padding: 20px;
    width: 100%;
    height: 100%;

  }

  .projects-list ul{
    font-family: var(--font-family);
    list-style-type: none;
    padding:250 px;
  
  }
  
  .project-list ul li{
    display: inline-flex;
    padding: 20px;
    padding-bottom: 400px;
  }

  .contact h2{
    color: var(--work-head);
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 1px var(--font-color);
    }

  .contact-links{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.contact-links ul{
  font-family: var(--font-family);
  list-style-type: none;

}

.contact-links ul li{
  display: inline-flex;
}

  
 #git img {
    border-radius: 50%;
    justify-content: center;
    height: 160px;
  }

#mail img{
  border-radius: 50%;
  justify-content: center;
    height: 160px;
}

  .contact-list ul{
    display:flex;
    justify-content: center;
    font-family: var(--font-family);
    list-style-type: none;
    margin-bottom: 200px;
  }

  .contact-list ul li{
    display: inline-flex;
    padding: 20px;
  }

footer{
  color:red;
  text-align: center;
}

@media screen and (max-width:800px){
  .project-list{
display: flex;
flex-direction: column;
width: 100%;

  }
.projects{
width:100%;
}

.banner{
  flex-direction:column;
}
.banner img{

width:350px;
height: 350px;  
}

.banner h1{
  font-size: 50px;
}

.headline ul li {
  font-size: 15px;

}
}